// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepage {
	h1 {
		margin-left: 200px;
		padding-bottom: 0.5em;
		font: 150% sans-serif;
		font-weight: bold;
		/*color: #226;*/
		border-bottom: 3px solid ;
	}
	/* An entry in the store catalog */
	.entry {
		overflow: auto;
		margin-top: 1em;
		border-bottom: 1px dotted #77d;
		min-height: 100px;

		img {
			width: 400px;
			height: 130px;
			margin-right: 5px;
			margin-left: 200px;
			margin-bottom: 5px;
			position: absolute;
		}

		h3 {
			font-size: 120%;
			font-family: sans-serif;
			margin-left: 620px;
			margin-top: 0;
			margin-bottom: 2px;
		}

		p, div.year_line{
			margin-left: 620px;
			margin-top: 0.5em;
			margin-bottom: 0.8em;
      form, div {
         display: inline;
      }
		}
		div.year_line{
			margin-left: 620px;
			margin-top: 0.5em;
			margin-bottom: 0.8em;
			font-weight: bold;
		}
		.year {
			color: #44a;
			font-weight: bold;
			margin-right: 3em;
		}
	}
}
